.navbar-light {
  background: #74AFAD;
}

.navbar {
	margin-bottom: 0!important;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  color: white;
}

.nav-button {
  color: white;
  margin: 0.7em;
  font-size: 1.5em;
}

.tmp {
  color: #558C89;
  color: #74AFAD;
  color: #D9853B;
  color: #ECECEA;
}

