
.main-selection {
  position: relative;
  width: 100%;
  /*height: 30%*/
}

.main-selection-option {
  position: relative;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
  /*height: 30%;*/
}

.selection-option-container {

}

.selection-option-column {
  height: 100%;
}

.selection-option-link-container {
  width: 80%;
  height: 80%;
  border: 1px solid #558C89;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 10%;
  left: 10%;
  position: relative;
  text-align: center;
  background: #74AFAD;
}

.selection-option-link {
  width: 100%;
  height: 100%;
  position: relative;
}

.selection-option-link:hover {
  text-decoration: none;
}

.selection-option-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.selection-title-text {
  font-size: 2em;
}

.tmp {
  color: #558C89;
  color: #74AFAD;
  color: #D9853B;
  color: #ECECEA;
}
