<div *ngFor="let item of MainMenuItems" class="row selection-option-container" [style.height]="getItemHeight()">
  <div class="col-sm-12 selection-option-column">
    <div class="selection-option-link-container"
         [style.background-color]="item.BackgroundBaseColor"
         [style.background-image]="getUrlString(item.BackgroundURL)"
    >
      <div routerLink="{{item.RouterURL}}" class="selection-option-content-container">
        <span [style.color]="item.TitleColor" class="selection-title-text">{{item.Title}}</span>
      </div>
    </div>
  </div>
</div>
