<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>

<div class="container" id="container">
  <div class="row">
    <div class="col-xs-12 container header-container">
      <div class="row  name-container">
        <div class="col-xs-6" id="resume-name">Alexandr Sarioglo</div>
      </div>
      <div class="row contact-info-container">
        <div class="col-xs-12" id="contact-info">
          <div class="header-piece">(832)-618-0941</div>
          <div class="contact-info-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
          <div class="header-piece"><a target="_blank" href="mailto:asarioglo@gmail.com?Subject=From%20Your%20Resume" class="seemless-link">asarioglo@gmail.com</a></div>
          <div class="contact-info-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
          <div class="header-piece">1104 Robin St, Houston, TX, 77019</div>
          <div class="contact-info-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
          <div class="header-piece"><a href="http://sarioglo.com" class="seemless-link">www.sarioglo.com</a></div>
        </div>
      </div>
    </div>
  </div>

  <!--region objective-->
  <!--===================================-->
  <!--OBJECTIVE-->
  <!--===================================-->
  <div class="row">
    <div class="col-xs-12 section-header">
      Objective
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-section">
      <p class="default-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
  </div>
  <!--===================================-->
  <!--END OBJECTIVE-->
  <!--===================================-->
  <!--endregion objective-->

  <!--region work experience-->
  <!--region section header-->
  <div class="row">
    <div class="col-xs-12 section-header">
      Work Experience
    </div>
  </div>
  <!--endregion section header-->
  <!--region current-->
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">Current</p>
    </div>
    <div class="col-xs-10 subsection-header left-separator">
      <p class="default-text">Software Developer</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">June 2015</p>
    </div>
    <div class="col-xs-10 text-section left-separator">
      <p class="default-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
  </div>
  <!--endregion current-->
  <!--region internship-->
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">June 2015</p>
    </div>
    <div class="col-xs-10 subsection-header left-separator">
      <p class="default-text">Software Development Intern</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">June 2014</p>
    </div>
    <div class="col-xs-10 text-section left-separator">
      <p class="default-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
  </div>
  <!--endregion internship-->
  <!--endregion work experience-->

  <!--region education-->
  <!--region section header-->
  <div class="row">
    <div class="col-xs-12 section-header">
      Objective
    </div>
  </div>
  <!--endregion section header-->
  <!--region north american unievrsity-->
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">August 2011</p>
    </div>
    <div class="col-xs-10 subsection-header left-separator">
      <p class="default-text">North American University</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 time-period">
      <p class="default-text">June 2014</p>
    </div>
    <div class="col-xs-10 text-section left-separator">
      <p class="default-text">AB in Computer Science, BE in Software Engineering, Minor in Mathematics</p>
    </div>
  </div>
  <!--endregion north american unievrsity-->
  <!--endregion education-->
  <!--region spoken languages-->
  <div class="row">
    <div class="col-xs-12 section-header">
      Spoken Languages
    </div>
  </div>
  <div class="row" *ngFor="let lang of SpokenLanguages">
    <div class="col-xs-12 text-section">
      {{lang.language}} ({{lang.proficiency}})
    </div>
  </div>
  <!--endregion spoken languages-->
</div>
